ipynb_checkpoints
.gitignore
*.pyc
__pycache__
.ipynb_checkpoints/
.DS_Store
*.log*
magnolia.egg-info/
dist/
build/
magnolia/python/api/model/
magnolia/python/api/converted/
magnolia/python/api/uploads/